{% extends "nws_viewer/base.html" %}

{% load tethys_gizmos %}

{% block app_content %}
	<div class="row">
		<div class="col-md-2">
			<div id="animateBtn"><button type="button" class="btn btn-primary">Start Animation</button></div>
			<br>
			<div id="stopAnimation"><button type="button" class="btn btn-danger">Stop Animation</button></div>
		</div>
		<div class="col-md-10">
			{% gizmo "map_view" map_view_options %}
		</div>
	</div>
{% endblock %}

{% block app_actions_override %}
{% endblock %}